<div class="title">
  <h1>MongoDB</h1>
</div>
<div class="mongodb">
  <p>MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program,
    MongoDB uses JSON-like documents with schemas.</p>
    <h2>References:</h2>
    <a href="" target="_blank"><button class="btn">TXT Curriculum</button></a>
    <a href="https://docs.mongodb.com/" target="_blank"><button class="btn">Documentation</button></a>
    <a href="" target="_blank"><button class="btn">Learn MongoDB</button></a>
</div>