.title {
    text-align: center;
    color: white;
    background-color: #2594A9;
    padding: 5%;
    display: inline-block;
    width: 100%;
}

.mongodb {
    text-align: center;
    padding: 5%;
    font-size: 40px;
}

button {
    color: white;
    background-color: #2594A9;
    height: 75px;
    width: 175px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: #2594A9;
    border: 2px solid #2594A9;
}