.title {
    text-align: center;
    color: white;
    background-color: #2594A9;
    padding: 5%;
}

.block {
    margin-top: 2.5%;
    display: inline-block;
    width: 50%;
    text-align: center;
}

img {
    max-height: 75px;
    max-width: 75px;
    margin: 5px;
}

button {
    height: 150px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: #2594A9;
    border: 2px solid #2594A9;
}

@media screen and (max-width: 900px) {

    .alignment {
        margin: auto;
    }
    
    .block {
        display: block;
        margin: auto;
    }

  }