<div class="title">
  <h1>Tech Curriculum</h1>
</div>
<div class="block">
  <button class="btn" (click)="goToAngular()">
    <img src="../../../assets/tech_curriculum/angular.png">Angular 6</button>
</div>
<div class="block">
  <button class="btn" (click)="goToPython()">
    <img src="../../../assets/tech_curriculum/python.png">Python</button>
</div>
<div class="block">
  <button class="btn" (click)="goToIonic()">
    <img src="../../../assets/tech_curriculum/ionic.png">Ionic</button>
</div>
<div class="block">
  <button class="btn" (click)="goToHTML()">
    <img src="../../../assets/tech_curriculum/html.png">HTML</button>
</div>
<div class="block">
  <button class="btn" (click)="goToCSS()">
    <img src="../../../assets/tech_curriculum/css.png">CSS</button>
</div>
<div class="block">
  <button class="btn" (click)="goToMongoDB()">
    <img src="../../../assets/tech_curriculum/mongodb.png">MongoDB</button>
</div>