.txt_colors {
    background-color: #48b3c8;
    color: white;
}

.img{
    margin-bottom: 30px;
    height: 50%;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    width: 230px;
    border-radius: 5px;
}

button:hover {
    background-color: #2594a9;
}