<div class="title">
    <h1>Starboard</h1>
    <p>Choose one of the four curriculums to start learning.</p>
</div>
<div class="block">
    <button class="btn" (click)="goToCurriculum()">Tech Curriculum</button>
</div>
<div class="block">
    <button class="btn" (click)="goToBonding()">Youth Development</button>
</div>
<div class="block">
    <button class="btn" (click)="goToCulture()">TXT Culture</button>
</div>
<div class="block">
    <button class="btn" (click)="goToProduct()">Product Development</button>
</div>