<div class="title">
  <h1>CSS</h1>
</div>
<div class="css">
  <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup
    language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
    <h2>References:</h2>
    <a href="https://drive.google.com/open?id=1DGQrDFe2DCYTo_Fh9cGSq2Qfzt5paeVx" target="_blank"><button class="btn">TXT Curriculum</button></a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><button class="btn">Documentation</button></a>
    <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS" target="_blank"><button class="btn">Learn CSS</button></a>
</div>