
.title {
    text-align: center;
    color: white;
    background-color: #48b3c8;
    padding: 5%;
}

 .body {
     display: flex;
 }

 .block {
     flex: 1;
     margin: auto;
     padding: 5%;
 }

 p {
    padding: 25px;
    text-align: center;
 }