<div class="introduction">
  <h1>TXT Pillars</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim quam tortor, vitae ornare est aliquam a. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Proin ut eros purus. Quisque gravida laoreet finibus. Donec bibendum
    blandit finibus. Nulla venenatis vel ante vitae sodales. Donec mauris velit, molestie euismod lacinia in, ullamcorper
    eget orci. Duis lorem mauris, faucibus ut lacus ut, aliquam viverra dolor. Donec non metus tincidunt mi accumsan ultrices
    eget nec dui. Sed interdum eros libero, ut tempus orci dictum ac. Nam posuere egestas ipsum, lacinia luctus lectus molestie
    a. Sed sed finibus sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vehicula
    purus nec justo efficitur, ullamcorper condimentum augue lobortis. Aliquam pharetra nulla vel congue placerat. Etiam
    eget neque posuere, pretium dui sit amet, pretium nibh.</p>
  <div class="midland">
    <button class="btn">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
</div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="title">
        <h1>Leadership</h1>
      </div>
      <div class="leadership">
        <p>At SCLA we teach our kids how to become top notch innnovaters. At the University of Southern California, you will
          be joining a network of the best innovators. You will make connections with tech professionals that can become
          your mentors and help you become successful in the tech world.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="title">
        <h1>Academics</h1>
      </div>
      <div class="academics">
        <p>In SCLA, you will learn to code using HTML, CSS, JavaScript and Python. You will learn how to build your own startup
          tech business. At SCLA you will learn how to learn. You will master your strength to become the best version of
          yourself. After a few weeks with us you will understand that success is not hard just a lot of work, but you will
          thrive.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="title">
        <h1>Community</h1>
      </div>
      <div class="community">
        <p>During 12 weeks, you will become part of a brotherhood of leaders, a brotherhood that inspires you to give it your
          all. Your brothers will help you code, solve problems, and succeed in life. You will be part of leaders who have
          changed their communities and families. Today we have TXT’rs from Los Angeles to New York, working to change the
          world.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="title">
        <h1>Technology</h1>
      </div>
      <div class="technology">
        <p>Our lil’s become the best developers. Learning high level programming lanaguages such as Python, Ionic, and Javascript.
          We also encourgae the Lil’s to learn the whole meanstack as well, which include MongoDB, Express,Angular 6, and
          Node.</p>
      </div>
    </div>
  </div>
  <a id="press" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span id="press-one" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span id="press-1" class="sr-only">Previous</span>
  </a>
  <a id="press" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span id="press-one" class="carousel-control-next-icon" aria-hidden="true"></span>
    <span id="press-1" class="sr-only">Next</span>
  </a>
</div>