<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="creed">
        <div class="title">
          <h1>Our Leadership Creed</h1>
        </div>
        <div class="body">
          <div class="block">
            <p>I shall lead by example.</p>
            <p>I will bring honor to the brotherhood.</p>
            <p>I will think outside the box.</p>
            <p>I believe in helping my neighbor and community.</p>
            <p>I believe leadership is action not position.</p>
          </div>
          <div class="block">
            <p>I will be a role model to other young males in my community.</p>
            <p>I believe nothing is hard just a lot of work.</p>
            <p>I will strive to know myself and seek self improvement.</p>
            <p>I believe in the habit of doing more than asked for.</p>
            <p>I will strive to strengthen my mind body and soul.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="carousel-item">
      <div class="leadership">
        <div class="img">
          <img src="../../../assets/txt_pillars/leadership.jpg">
        </div>
        <div class="content">

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="academics">
        <div class="img">
          <img src="../../../assets/txt_pillars/academics.jpg">
        </div>
        <div class="content">

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="community">
        <div class="img">
          <img src="../../../assets/txt_pillars/community.jpg">
        </div>
        <div class="content">

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="technology">
        <div class="img">
          <img src="../../../assets/txt_pillars/technology.jpg">
        </div>
        <div class="content">

        </div>
      </div>
    </div> -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>