<div class="title">
  <h1>What is Angular 6?</h1>
</div>
<div class="angular">
  <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency
    injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers
    to build applications that live on the web, mobile, or the desktop</p>
    <h2>References:</h2>
    <a href="https://drive.google.com/drive/folders/1GI09Gf60-zGkGOCzo1Awro0w8q5jprxd?usp=sharing" target="_blank"><button class="btn">TXT Curriculum</button></a>
    <a href="https://angular.io/" target="_blank"><button class="btn">Documentation</button></a>
    <a href="https://coursetro.com/courses/19/Learn-Angular-5-from-Scratch---Angular-5-Tutorial" target="_blank"><button class="btn">Learn Angular</button></a>
</div>